body {
    background-color: lightgray;
   
}

.nav {
    background-color: white;
    height: 125px
}

.logo {
    height:125px;
    width: auto;
}

.links  a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    margin-left: 20px;

}
.navLinks, .title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    margin-top: 175px;
    margin-bottom: 20px;
}

.active {
    color: purple;
    text-decoration: none;
    font-weight: 600;
}
.main {
    height: 500px; 
    margin-bottom: 75px;
    background-image: url("https://images.unsplash.com/photo-1516035069371-29a1b244cc32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGhvdG9ncmFwaHl8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=600");
}
#sMarie {
    color: white;
    font-weight: 800;
}
 
#button1 {
    margin-right: 20px;

}
#showOnMap, #bookNow {
    background-color: purple;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    font-size: 25px;
}
.contentBox {
    background-color: white;
    height: 200px;
    border-radius: 5px;
    display: block;
    margin-bottom: 50px;
    

}

.OpeningHours {
    margin-bottom: 20px;
    margin-top: auto;
}







  .button1{padding: 12px 28px;
    